<div class=" container-lg mt-4" >
  <ul class="nav nav-pills" style="display:flex; justify-content:space-evenly ;">
      <li class="nav-item">
        <a routerLink="/column-chart" class="nav-link active" aria-current="page"  routerLink="active">Column Chart</a>
      </li>
      <li class="nav-item">
        <a routerLink="/line-chart" class="nav-link"  routerLink="active">Line Chart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="active">Pie Chart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="active" >Gantt Chart</a>
      </li>
    </ul>
</div>

<!-- <app-column-chart></app-column-chart> -->
<router-outlet></router-outlet>
